body {
  width: 120px;
  padding: 0px;
  margin: 0px;
  font: 10px arial;
  background: #EEEEEE;
}

#title {
 text-align: center;
 font-size: 12px;
 background: #DDDDDD;
 border: 1px solid gray;
 border: none;
 padding: 5px;
}

#controls {
  padding: 5px;
  margin: none;
}

#controls input {
  margin: 5px;
}