.project
.pydevproject
.DS_Store
*.pyc
*.pyo
*.tar.gz
*.zip
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# xcode noise
build/*
*.pbxuser
*.mode1v3
*.perspectivev3
# osx noise
.DS_Store
profile

Makefile

a.out
*.o
*.so.*
*.mk
*.deb
*.bz2

compile
config.guess
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
config.h
config.h.in~
config.log
stamp-h1
libtool
fused-src

*.log

.dirstamp

*.jpg
*.xcf
*.png
/experimental/lib/src/aesthete_thread_runner
/experimental/lib/src/base64_unittest
/experimental/lib/src/ecc_experiment
/experimental/lib/src/ecc_experiment_main
/experimental/lib/src/generate_aesthete_matrices
/experimental/lib/src/in_memory_experiment
/experimental/lib/src/jpeg_benchmark
/experimental/lib/src/jpeg_codec_unittest
/experimental/lib/src/queue_main
/experimental/lib/src/read_aesthete_matrices
/experimental/lib/src/reed_solomon/rs_main
/experimental/lib/src/.libs/base64_unittest
/experimental/lib/src/.libs/jpeg_codec_unittest
/experimental/lib/scripts/gtest-config
/experimental/lib/configure.scan
