.project
.pydevproject
.DS_Store
*.pyc
*.pyo
*.tar.gz
*.zip
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# xcode noise
build/*
*.pbxuser
*.mode1v3
*.perspectivev3
# osx noise
.DS_Store
profile

Makefile

a.out
*.o
*.so.*
*.mk
*.deb
*.bz2

compile
config.guess
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
config.h
config.h.in~
config.log
stamp-h1
libtool
fused-src

*.log

.dirstamp

*.jpg
*.xcf
*.png