{namespace cryptogram.templates}

/**
 * @param image
 */
{template .demo}
<input type="button" value="Decrypt" onClick="cryptogram.demo.decrypt()" id="button">
<br><img src='{$image}' id=image>
{/template}