body {
  background: url('bar.gif');
  font: 14px arial;
  letter-spacing: 1px;
  margin-bottom: 100px;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: #81609F;
}

h1 {
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-weight: normal;
}

hr {
  border: none;
  height: 1px;
  border-bottom: 1px solid #EEEEEE;
  margin-top: 40px;
  margin-bottom: 40px;
}







#main {
  position: relative;
  left: 50%;
  margin-left: -300px;
  margin-top: 50px;
  border: none;
  width: 700px;
  padding: 20px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  background: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

#main .pixels {
  border: 1px solid black;
}

#main .arrow {
  margin-left: 30px;
  margin-right: 30px;
}






#header {
  text-align: center;
  font-size: 18px;
}

#header img {
  position: absolute;
  top: 25px;
  opacity: .25;
  -webkit-filter: grayscale(100%);
}

#header img:hover {
  -webkit-filter: grayscale(0%);
    opacity: .5;
}

#header .title {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 7px;
}






#install {
  text-align: left;
  margin-left: 120px;
}

#install .button {
  -webkit-box-shadow: rgba(255, 255, 255, 0.0585938) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.199219) 0px 2px 3px 0px;
  -webkit-user-select: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #5689DB 0%, #4D7BD6 100%);
  background-origin: padding-box;
  border-bottom-color: #2D53AF;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #2D53AF;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #2D53AF;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #2D53AF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.0585938) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.199219) 0px 2px 3px 0px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  min-width: 170px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, .5) 0px 1px 1px;
  text-transform: uppercase;
  width: 170px;
  text-decoration: none;
}

#install #download {
  background-image: -webkit-linear-gradient(top, #33DB22 0%, #4DD67B 100%);
  border-color: #2DAF53;

}

#install #download:hover {
  background-image: -webkit-linear-gradient(top, #8DE6AB 0%, #53DB52 100%);
}

#install .button:hover {
  background-image: -webkit-linear-gradient(top, #7498FF 0%, #6281FE 100%);
}





#diagram {
  text-align: center;
  display: block;
  width: 460px;
  position: relative;
  left: 50%;
  margin-left: -230px;
}

#diagram img {
  max-height: 100px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}







.info {
  text-align: left;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}

.frame { 
  position: relative;
  display: table-cell;
  float: left;
}

.frame img {
  width: 100px;
  height: 100px;
}