body {
  width: 140px;
  padding: 0px;
  margin: 0px;
  font: 12px arial;
  background: #EEEEEE;
}

a {
  color: #333333;
}

#title a {
 display: block;
 text-align: center;
 font-size: 14px;
 background: #DDDDDD;
 border: 1px solid gray;
 border: none;
 padding: 5px;
 height: 1em;
 margin-top: 1px;
 text-decoration: none;
}

#title a:hover {
  background: #888888;
  color: white;
}

#controls {
  padding: 5px;
  margin: none;
}

#button_encryptor {
  width: 120px;
}

#controls input {
  margin: 5px;
}