body {
  width: 140px;
  padding: 0px;
  margin: 0px;
  font: 12px arial;
  background: #EEEEEE;
}

a {
  color: #333333;
}

#title {
 text-align: center;
 font-size: 14px;
 background: #DDDDDD;
 border: 1px solid gray;
 border: none;
 padding: 5px;
 height: 1em;
}

#controls {
  padding: 5px;
  margin: none;
}

#button_encryptor {
  width: 120px;
}

a {
  display: block;
  color: black;
  background: #DDDDDD;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 1px;
}

a:hover {
  background: #888888;
  color: white;
}

#controls input {
  margin: 5px;
}