body {
  font: 12px arial;
  background: white;
}

iframe {
  width: 600px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  background: white;
}

#info {
    width: 300px;
    margin-top: 50px;
    padding: 20px;
    background: #EEEEEE;
  }

#frame {
  width: 600px;
  padding: 20px;
  background: #EEEEEE;
  border: 1px solid gray;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  margin-top: 50px;
  border-radius: 3px;
}

#buttons {
  width: 600px;
  text-align: center;
}

#buttons input {
  width: 100px;
  height: 40px;
}

#buttons #agree {
  background: #AAFFAA;
}

#buttons #disagree {
  background: #FFAAAA;
}