<html>
	<head>
		<link type="text/css" href="{{ static_url("css/ui-lightness/jquery-ui-1.8.19.custom.css") }}" rel="stylesheet" />
		<link type="text/css" href="{{ static_url("application.css") }}" rel="stylesheet" />
		<link type="text/css" href="{{ static_url("ui-progress-bar.css") }}" rel="stylesheet" />
		<script type="text/javascript" src="{{ static_url("jquery-1.7.2.min.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/jquery-ui-1.8.19.custom.min.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("progress_bar.js") }}"></script>
		<script type="text/javascript">
function checkPass() {
	var pass1 = document.forms['input']['password'].value;
	var pass2 = document.forms['input']['verify_password'].value;

	if(pass1 != pass2) {
    var response = document.getElementById('response');
		response.innerHTML = "Passwords did not Match!";
    return false;
	}
  return true;
}
		</script>

	</head>
	<body >
		{% block body %}
		{% end %}
	</body>
</html>
