{% extends "base.html" %}

{% block body %}
<script type="text/javascript" src="{{ static_url("close-window.js") }}"></script>
<script type="text/javascript">
	postStatus(true);
</script>

<center>
<h1>Please select files to Cryptogram</h1>
</center>

<div id="container">
  <div id="stage">
		<div class="container show-grid">
		  <form action="photo_selection" method="post">
        <input name="files[]" onchange="javascript:submitted=true;this.form.submit();" type=file multiple>
       </form>
		</div>
	</div>
</div>

<center>
	<div id="exit"></div>
</center>
{% end %}
