{% extends "base.html" %}

{% block body %}
<script type="text/javascript" src="{{ static_url("validate-password.js") }}"></script>

		<script type="text/javascript">
			$(function(){
				// Dialog
				$('#input_dir_dialog').dialog({
					autoOpen: false,
					width: 600,
          modal: true,
          maxHeight: 480,
					buttons: {
						"Ok": function() {
              var values = $("#output_dir").jstree("get_selected");
              console.log("Selected values: " + values);

							$(this).dialog("close");
						},
						"Cancel": function() {
							$(this).dialog("close");
						}
					}
				});

				// Dialog Link
				$('#input_dir_dialog_link').click(function(){
					$('#input_dir_dialog').dialog('open');
					return false;
				});

				//hover states on the static widgets
				$('#input_dir_dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

				// Dialog
				$('#output_dir_dialog').dialog({
					autoOpen: false,
					width: 600,
          modal: true,
          maxHeight: 480,
					buttons: {
						"Ok": function() {
							$(this).dialog("close");
						},
						"Cancel": function() {
							$(this).dialog("close");
						}
					}
				});

				// Dialog Link
				$('#output_dir_dialog_link').click(function(){
					$('#output_dir_dialog').dialog('open');
					return false;
				});

				//hover states on the static widgets
				$('#output_dir_dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

			});
		</script>
<center>
	<div id="container">
		<div class="stage">
	    <h1>Cryptogram Encoder</h1>

      <!-- Select files to encrypt. -->
      <table>
       <tr>
         <td>Input Directory</td>
         <td>
           <input class="required" id="input_dir_path" name="input_dir_path" value="${USER_BOX}" type="text"></input>
         </td>
         <td>
           <a href="#" id="input_dir_dialog_link" class="ui-state-default ui-corner-all">Choose inputs.</a>
         </td>
       </tr>
      </table>

      <!-- Choose output location. -->
      <table>
       <tr>
         <td>Output Directory</td>
         <td>
           <input class="required" id="output_dir_path" name="output_dir_path" value="${USER_BOX}" type="text"></input>
         </td>
         <td>
           <a href="#" id="output_dir_dialog_link" class="ui-state-default ui-corner-all">Choose output directory.</a>
         </td>
       </tr>
      </table>

		<!-- ui-dialog -->
		<div id="input_dir_dialog" title="Inputs">
      <td colspan="2">
        <div id="input_dir"></div>
      </td>
		</div>

		<div id="output_dir_dialog" title="Output Directory">
      <td colspan="2">
        <div id="output_dir"></div>
      </td>
		</div>

    <script type="text/javascript">
      $(function() {
        $(".error").hide();
        $("#start_encryption").click(function() {
          console.log('Start encryption clicked.');
          var password = $("input#password").val();
          var password_again = $("input#password_again").val();
          if (password != password_again) {
            console.log('password did not match');
            return false;
          }

          var data_string = 'password=' + password + '&password_again=' + password_again;
          $.ajax({
            type: "POST",
            url: "/",
            data: data_string,
            success: function() {
              console.log('Successful post. Now call post status.');
              postStatus(true);
            }
          });
          return false;
        });
      });
    </script>

      <!-- Enter the password to use during encryption. -->
      <div id="password_form">
        <form name="password" action="">
          <fieldset>
            <label>Password</label>
            <input type="password" name="password" id="password" />
            <label class="error" for="password" id="password_error">This field
            is required.</label>

            <label>Verify Password</label>
            <input type="password" name="password_again" id="password_again" />
            <label class="error" for="password_again" id="password_again_error">This field
            is required.</label>

            <br />
            <input id="start_encryption" name="submit" type="submit"
            class="button" value="Start encrypting" />
          </fieldset>

        </form>
      </div>

			<form name="quitform" action="exit" method="get">
				<input type="submit" value="Exit" />
			</form>
		</div>

    <div class="stage" id="stage">
      Hello world.
    </div>
	</div>
</center>
{% end %}
